<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="search_path" value="D:\_obictest\input" />
    <add key="output_path" value="D:\_obictest\output" />
    <add key="backup_base_path" value="D:\_obictest\backup" />
    <add key="header" value="1" />
  </appSettings>
</configuration>