<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true" throwExceptions="false"
      internalLogLevel="Info" internalLogFile="c:\temp\nlog-internal.log">

  <targets async="false">
    <!-- システム関連ログ用定義 -->
    <target xsi:type="File" name="systemLogger"
            fileName="${basedir}/logs/system.log" encoding="UTF-8"
            layout="${longdate} [${uppercase:${level:padding=-5}}] ${callsite}() ${message} ${exception:format=tostring}"
            archiveFileName="${basedir}/logs/archives/system_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7" />
    <!-- 変換処理用ログ用定義(旧定義) -->
    <target xsi:type="File" name="convertLogger"
            fileName="${basedir}/logs/convert.log" encoding="UTF-8"
            layout="${longdate} [${uppercase:${level:padding=-5}}] [${event-properties:item=PropertyType:padCharacter=　:padding=-4}] ${message}"
            archiveFileName="${basedir}/logs/archives/convert_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7" />
    <!-- 変換処理用ログ用定義 -->
    <target xsi:type="File" name="cconvertLogger"
            fileName="${basedir}/logs/convert.log" encoding="UTF-8"
            layout="${longdate} [${uppercase:${level:padding=-5}}] [${mdc:item=PropertyType:padCharacter=　:padding=-4}] ${message}"
            archiveFileName="${basedir}/logs/archives/convert_{#}.log"
            archiveEvery="Day" archiveNumbering="Date" archiveDateFormat="yyyyMMdd"
            maxArchiveFiles="7" />
    <!-- シンプルなコンソール表示 -->
    <target xsi:type="Console" name="outputDisplay" layout="${longdate} [${level}] ${message}" />
    <!-- 色付きのコンソール表示 -->
    <target xsi:type="ColoredConsole" name="colorDisplay" layout="${longdate} [${level}] ${message}" />
  </targets>

  <rules>
    <!-- システムログのみ出力 -->
    <logger name="systemLogger" minlevel="Info" writeTo="systemLogger" />
    <!-- コンバートログ(システム＆コンソール)出力 -->
    <logger name="convertLogger" minlevel="Info" writeTo="systemLogger" />
    <logger name="convertLogger" minlevel="Info" writeTo="convertLogger" />
    <logger name="convertLogger" minlevel="Info" writeTo="colorDisplay" />
    <!-- コンバートログ(システム＆コンソール)出力 -->
    <logger name="cconvertLogger" minlevel="Info" writeTo="systemLogger" />
    <logger name="cconvertLogger" minlevel="Info" writeTo="cconvertLogger" />
    <logger name="cconvertLogger" minlevel="Info" writeTo="colorDisplay" />
  </rules>
</nlog>